.gallery{
    display: inline-block;
}

.gallery .box_img{
	width: 300px;
	height: 300px;
	margin: 40px;
	border-radius: 2px;
	overflow: hidden;
	display: inline-block;
	background: blue;
}

.gallery .box_img img{
	width: 100%;
	height: 100%;
}

.gallery .box_img img:hover{
	transform: scale(1.2);
}


@media screen and (min-width: 300px){ 
	.gallery .box_img{
		margin: 40px;
		width: 200px;
		height: 200px;
	}
}


@media screen and (min-width: 767px){ 
	.gallery .box_img{
		margin: 40px;
		width: 240px;
		height: 240px;
	}

}


@media screen and (min-width: 1000px){ 
	.gallery .box_img{
		margin: 40px;
		width: 300px;
		height: 300px;
	}
}
