* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.galeria {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
    margin-left: 50px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}


.galeria .box-img {
	/*width: calc(80px * 4);*/
	margin: 10px;
	border-radius: 2px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,.6);
	overflow: hidden;
}

.galeria .box-img img {
	width: 50%;
	vertical-align: top;
	cursor: pointer;
	transition: all .5s ease;
}

.galeria .box-img img:hover {
	transform: scale(1.2);
}

figure{
	padding: 0 6px;
	float: right;
	width: 27%;
	border: thin silver solid;
	position: relative;
	text-align: center;
	text-indent: 0;
	top: 1px;
	left: 80px;
}

